* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  outline: none;
}
.fa-solid:hover{
  cursor: pointer;
}

html {
  width: 100vw !important;
  overflow-x: hidden;
  
  scroll-behavior: smooth;
}
body {
  width: 100vw !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: auto;
  display: block;
  overflow-y: hidden;
}

.Copyright{
  width: 85%;
  height: 40px;
  font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
margin-left: auto;
margin-right: auto;
color: #fff;
margin-top: 5px;

}

.header {
  width: 100vw;
  height: 988px;
  background: linear-gradient(180deg, #003c82 3.96%, rgba(0, 60, 130, 0) 100%);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;

  .img_header {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  h1 {
    font-weight: 700;
    font-size: 128px;
    line-height: 154.91px;
    letter-spacing: 0%;
    text-align: center;
    width: 81%;
    height: 248;
    margin-top: calc(233px - (40px + 43px));
    color: #fff;
  }
}

.nav {
  margin-top: 40px;
  width: 80vw;
  height: 43px;
  position: absolute;
  margin-left: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 43px;
  border-radius: 20px;
  border: 1px solid #fff;
  align-content: space-between;
}
.centrar{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.turistoe {
  color: #fff;
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.05px;
  letter-spacing: 0%;
}

.item {
  width: 25%;
  height: 100%;
  font-family: Inter;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.item:hover {
  border-radius: 20px;
  background-color: #fff;
  color: #003c82;
  transition: 0.3s;
}

.about_container {
  width: 100%;
  height: 521px;
  margin-top: calc(1280px - 982px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about {
  height: 100%;
  width: 35.5%;
  position: relative;
}
.about_container .about h2 {
  text-align: left;
  font-weight: 600;
  font-size: 48px;
  line-height: 58.09px;
  letter-spacing: 0%;
}
.about_container .about p {
  text-align: justify;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0%;
  margin-top: 115px;
}
.about_container .about h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  letter-spacing: 0%;
  display: inline-block;
  margin-top: 50px;
  text-align: left;
}
.spaciado {
  margin-left: 20%;
}
.buttom {
  margin-top: 65px;
  position: absolute;
  width: 188px;
  height: 54px;
  text-align: center;
  border-radius: 25px;
  border-width: 1px;
  padding: 0;
  border: 1px solid rgba(0, 60, 130, 1);
  display: flex;
  justify-content: center;
}
.buttom a {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: none;
  text-align: center;
  text-decoration: none;
  background-color: none;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  border-width: 0;
  color: rgba(0, 60, 130, 1);
}
.buttom a:hover {
  border-radius: 20px;
  color: #ffffff;
  background-color: #003c82;
  transition: 3ms;
}
.component2 {
  height: 521px;
  width: 466px;
  border: 1px solid rgba(0, 60, 130, 1);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: none;
  display: flex;
  background-color: rgba(0, 61, 130, 0);
}

.frame5 {
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 20px;
  z-index: 1;
}

.play {
  position: absolute;
  padding: auto;
  z-index: 0;
}
.component2:hover {
  background-color: rgba(0, 60, 130, 0.5);
  transition: 0.6s;
}

.component2:hover {
  cursor: pointer;
}
.component2:hover .frame5 {
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.3s;
}
.component2:hover .play {
  z-index: 1;
  transition: 0.3s;
}

.component2:hover div {
  z-index: 0;
  transition: 0.9s;
}
.trip_container {
  width: 100%;
  height: 700px;
  background-color: rgb(255, 255, 255);
  margin-top: calc(2101px - (1280px + 521px));
  left: 0;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  scrollbar-width: none;
  overflow-y: hidden;
}

.container_cards {
  margin-left: 700px;
  width: 80%;
}
.trip {
  margin-left: 20px;
  display: inline-block;
  width: 565px;
  height: 100%;
  position: relative;
  border-radius: 20px;
}

.trip h2 {
  width: 565px;
  height: 92px;
  margin-top: 422px;
  margin-left: 200px;
  font-weight: 600;
  font-size: 48px;
  line-height: 58.09px;
  letter-spacing: 0%;
  position: absolute;
  white-space: initial;
}
.trip p {
  width: 456px;
  height: 96px;
  margin-top: 594px;
  margin-left: 200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0%;
  white-space: initial;
  position: absolute;
}

.card {
  margin-left: 20px;
  display: inline-block;
  width: 367px;
  height: 100%;
  position: relative;
  border-radius: 20px;
  background-color: #ffffff00;
  border: 1px solid rgba(0, 60, 130, 1);
}
.card div.place {
  width: 15%;
  height: 24px;
  display: flex;
  margin-left: 40px;
  margin-top: 60px;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}
.centrado2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .centrado2 img {
  height: 90%;
  width: 90%;
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
}
.place p {
  margin-left: 10px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
  letter-spacing: 0%;
  color: #fff;
}
.order_container {
  position: absolute;
  width: 273px;
  height: 195px;
  margin-top: 435px;
  margin-left: 40px;
  gap: 12px;
}
.order_container > p {
  position: absolute;
  color: #fff;
}
.order_container .precio {
  margin-top: 155px;
  right: 0;
}
.order {
  margin-top: 20px;
  position: absolute;
  width: 20;
  height: 172px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order h3 {
  font-family: Inter;
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
  letter-spacing: 0%;
  align-items: center;
}
.order .btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  width: 177px;
  height: 54px;
  border-radius: 25px;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
}
.card:hover .centrado2 img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.container_travelmemories {
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn:hover {
  color: black;
  background-color: #fff;
  transition: 0.3s;
}
.travel_memories {
  width: 1161px;
  height: 764px !important;
  margin-top: calc(3101px - (700px + 2101px));
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}


.travel_memories > h2 {
  top: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 58.09px;
  letter-spacing: 0%;
  text-align: center;
}
.picture {
  width: 90%;
  height: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.card-travelmemories {
  height: 100%;
  width: 30%;
  border: 1px solid rgba(0, 60, 130, 1);
  border-radius: 20px;
  position: relative;
  display: flex;
}
.card-travelmemories > h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
  letter-spacing: 0%;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 550px;
  left: 40px;
}
.centrado {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-travelmemories .centrado img {
  width: 95%;
  height: 95%;
  position: absolute;
  border-radius: 20px;
  object-fit: cover;
}
.card-travelmemories ul {
  color: #fff;
  position: absolute;
  top: 600px;
  left: 40px;
  list-style-position: inside;
}
.card-travelmemories:hover img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  object-fit: cover;
}
.card-travelmemories2 {
  width: 100%;
  height: 48%;
  border: 1px solid rgba(0, 60, 130, 1);
  border-radius: 20px;
  position: relative;
  color: #fff;
}
.card-travelmemories2 > h3 {
  position: absolute;
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
  letter-spacing: 0%;
  top: 241px;
  left: 40px;
  z-index: 1;
}
.card-travelmemories2 ul {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0%;
  list-style-position: inside;
  width: 171;
  height: 28;
  top: 279px;
  left: 40px;
}
.card-travelmemories2 .centrado2 > img {
  width: 97%;
  height: 95%;
  object-fit: cover;
  border-radius: 20px;
}
.card-travelmemories2:hover .centrado2 > img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  object-fit: cover;
}

.container_travelmemories2 {
  width: 100%;
  height: 48%;
  display: flex;
  justify-content: space-between;
}
.card-travelmemories3 {
  width: 48%;
  height: 100%;
  border: 1px solid rgba(0, 60, 130, 1);
  border-radius: 20px;
  position: relative;
  color: #fff;
}
.card-travelmemories3 > h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
  letter-spacing: 0%;
  top: 241px;
  left: 40px;
  position: absolute;
  z-index: 1;
}
.card-travelmemories3 ul {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0%;
  top: 279px;
  left: 34px;
  list-style-position: inside;
}
.card-travelmemories3 .centrado2 > img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 20px;
}
.card-travelmemories3:hover .centrado2 > img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.Reviews {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 505px;
  margin-top: calc(4279px - (3101px + 878px));
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 255, 255, 0);
}

.ucp_2 {
  position: relative;
  width: 100%;
  height: 438px;
  margin-top: calc(5084px - (4279px + 505px));
  background: linear-gradient(
    180deg,
    rgba(0, 60, 130, 0) 0%,
    rgba(0, 60, 130, 0.8) 100%
  );
}

.ucp_2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.centrado3 {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.centrado3 h2 {
  width: 1512px;
  height: 35px;
  top: 100px;
  font-weight: 600px;
  font-size: 48px;
  line-height: 58.09px;
  letter-spacing: 0%;
  text-align: center;
}
.centrado3 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0%;
  text-align: center;
  width: 565px;
  height: 45px;
  top: 175px;
}
.centrado3 a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  width: 188px;
  height: 54px;
  top: 280px;

  border-radius: 25px;
  border-width: 1px;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.centrado3 a:hover {
  color: #000000;
  border-color: #ffffff;
  background-color: #fff;
  transition: 0.3s;
}
.footer {
  display: block;
  background: rgba(0, 60, 130, 1);
}
.footer_container {
  width: 68%;
  height: 487px;
  display: flex;
  margin-left: auto;
  margin-right:auto;
  justify-content: space-between;
  gap: 10px;
  align-items: center 
  

}
.turistoe2 {
  width: 268px;
  height: 270px;
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.turistoe3 {
  width: 80%;
  height: 174px;
  color: #fff;
}

.redes-sociales {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.tamaño {
  width: 40px;
  padding: 7px 7px;
  font-size: 21px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tamaño:hover {
  background-color: #fff;
  color: #003c82;
  transition: 0.2s;
}
.form {
  width: 465px;
  height: 270px;
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.form2 {
  width: 80%;
  height: 181px;
}
.form3 {
  width: 100%;
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
}
.form3 > input {
  position: absolute;
  right: 0;
  width: 95%;
  height: 100%;
  border-radius: 20px;
  border: none;
  padding: auto 10px;
}
.form3 input::placeholder {
  color: rgba(0, 61, 130, 0.7);
  font-size: 14px;
}
.form3 > button {
  width: 30%;
  height: 80%;
  background-color: #003c82;
  position: absolute;
  right: 1%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}

.about2 {
  width: 169px;
  height: 270px;
  border-radius: 20px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;

  color: #fff;
  position: relative;
}
.about3 {
  margin-left: 20px;
  width: 100%;
  height: 270px;
}
.about3 h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29.05px;
  letter-spacing: 0%;
}
.about3 ul {
  list-style-position: inside;
  list-style-type: none;
}
.about3 ul li {
  padding: 5px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0%;
}
.Reviews > h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58.09px;
  letter-spacing: 0%;
  text-align: center;
}
.buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  width: 280px;
  top: 471px;
}

.adelante i {
  font-size: 35px;
  color: #000000;
  background-color: #00000000;
  cursor: pointer;
}
.atras i {
  font-size: 35px;
  color: #000000;
  background-color: #ffffff00;
  cursor: pointer;
}
.adelante,
.atras {
  background-color: #00000000;
  border: #00000000;
}
.slider {
  position: absolute;
  width: 100%;
  height: 306px;
  display: flex;
  top: 135px;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  touch-action: none;
}
.marco {
  position: absolute;
  border: 1px solid #003c82;
  width: 336px;
  height: 325px;
  border-radius: 20px;
  top: 115px;
  z-index: 5;
}
.testimonios {
  flex: 0 0 auto;
  width: 326px;
  height: 100%;
  text-align: center;
}
.slider::-webkit-scrollbar {
  display: none;
}

.subslider {
  display: flex;
  overflow-x: scroll;
}
.primero {
  margin-left: 3870px;
}
.ultimo {
  margin-right: 605px;
}
.subslider::-webkit-scrollbar {
  display: none;
}
.subtestimonio {
  width: 87%;
  height: 210px;
  text-align: left;
  position: relative;

  p {
    left: 6.5%;
    position: absolute;
    background-color: rgba(236, 245, 255, 1);
    width: 100%;
    height: 170px;

    border-radius: 12px;
    padding: 15px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
  }
  img {
    position: absolute;
    width: 43.00000381469743px;
    height: 40.99999618530289px;
    top: 145px;
    left: 137px;
    z-index: -1;
    border-radius: 4px;
  }
}

.fotos {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  bottom: 0;
  object-fit: cover;
}

#name {
  position: absolute;
  display: block;
  font-family: Inter;
  font-weight: 600;
  font-size: 32px;
  line-height: 38.73px;
  letter-spacing: 0%;
  text-align: center;
  top: Calc(360px + 100px);
  opacity: 1;
  transition: 0.5s ease-in-out;
}


.menu_boton {
  width: 48px;
  height: 48px;
}
.menu_boton:hover{
cursor: pointer;
}

.contendedor_menu {
  width: 48px;
  height: 48px;
  display: none;
}
.footter {
  margin-top: 0 !important;
  width: 169px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.retroceder{
  display: none;
}
.Location,
.Date,
.Guest {
  display: none;
  transition: all 0.3s ease;
}

/* Rotación con transición */
.icon-toggle i {
  transition: transform 0.3s ease;
}

/* Clase para rotar el ícono */
.icon-rotate {
  transform: rotate(180deg);
}
/* Ocultar todos los divs al inicio */
.hidden {
  display: none;
}

/* Estilos para la transición, si deseas efectos visuales suaves */
.Location, .Date, .Guest {
  transition: all 0.5s ease;
}
.fullscreen {
  position: fixed;
  width: 50px;
  height: 100%;
  background: white; /* Cambia el color si lo deseas */
  z-index: 1000;
  display: block;
  
  
}
.choose{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 549px;
height: 58px;
border-radius: 25px;
border: 1px solid #003c82;
justify-content: space-between;
background-color: #fff;
margin-top: 50px;

}
.box_container{
  width:160px ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
 
  
}
.box{
  width: 80%;
  display: flex;
  align-items: center;
  height: 40px;


h2{
  font-family: Inter;
font-weight: 500;
font-size: 20px;
text-align: justify;
width: auto;
height: 24px;


}

.icon-toggle{
  margin-left: 10px;
}
}

.box_container_date{
  width: 138px;
  height: 60%;
  border-right: 1px solid #003c82;
  border-left: 1px solid #003c82;
}
.box2{
  display: none;
}

.icon-search{
  width: 48px;
height: 48px;
border-radius: 100px;
background-color: #003c82;
display: flex;
justify-content: center;
align-items: center;
margin-right: 5px;
.fa-magnifying-glass{
  font-size: 20px;
  color: #fff;
}
}


.Location{
  width: 170px;
height: 176px;
border-radius: 20px;
border: 1px solid #003c82;
margin-top: 245px;
position: absolute;
}
.location{
  display: none;
}

.locationdos{
  padding: 20px;
  p{
    margin: 3px 0px;
  }
}

.Date{
  width: 308px;
height: 321px;
border-radius: 20px;
border: 1px solid #003c82;
margin-top: 390px;
margin-left: 85px;
position: absolute;

}
.date{
  display: none;
}

.calendar-title{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  h2{
font-weight: 600;
font-size: 14px;
text-align: center;
text-transform: uppercase;
color: #003c82;

  }
}
.calendar{
  height: 184px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  
  
}

.calendar tr,td{
  padding: 3px;
  color: #003c82;
  text-align: center;
}
.calendar th{
  padding: 3px;
  color: rgba(126, 129, 140, 1);
}
.pintado{
  color: #ffffff !important;
  background-color: #003c82;
  border-radius: 50%;
}

.Guest{
  width: 239px;
height: 113px;
border-radius: 20px;
border: 1px solid #003c82;
position: absolute;
margin-top: 180px;
margin-left: 310px;

}

.guest{
  display: none;
}
.guestt{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.guestdos{
  margin-top: 15px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2{
    font-family: Inter;
font-weight: 400;
font-size: 14px;

  }
  p{
    font-family: Inter;
font-weight: 400;
font-size: 12px;
color:rgba(153, 153, 153, 1) ;

  }
}
.guesttres{
  display: flex;
width: 67px;
justify-content: space-between;
align-items: center;
p{
  width: 27px;
  height: 23px;
  color: #000000;
  border: 1px solid #003c82;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
.fa-angle-left,.fa-angle-right{
  font-size: 25px;
  color: rgba(132, 138, 149, 1);
}
.fa-angle-right:hover{
  color: #000000;
  cursor: pointer;
}
.fa-angle-left:hover{
  color: #000000;
  cursor: pointer;
}
.locationdos p:hover{
  color: #003c82;
  cursor: pointer;
  font-family: Inter;
font-weight: 400;

}





@media   (max-width:650px) {
  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

  }
  #check{
    display: none;
  }

  .menu.active {
    display: block;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
  }

  
  .retroceder{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    display:flex !important;
    justify-content:flex-end ;
    align-items: center !important ;
    text-align: center;
  }
  .retroceder> a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none !important;
    border: 1px solid #003c82;
    color: #003c82;
    width: 48px !important;
    height: 48px !important;
    border-radius: 100px;
    text-align: center;
  }

  .centrar{
    width: 80%;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    a{
      color: #003c82  !important;
     
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 229px;
      height: 54px;
      border:1px solid #003c82;
      border-radius: 25px;
      font-family: Inter;
      font-size: 20px !important;
      
  
  
    }
  }
  
  
  .fa-solid.fa-xmark-large{
    
    font-size: 21px;

  }
  
  .menu .item {
    color: white;
    font-size: 2rem;
    margin: 1rem;
    text-decoration: none;
  }
  .uno:hover {
  border-radius: 20px;
  background-color:#003c82;
  color: #ffffff !important;
  transition: 0.3s;
}
.dos:hover {
  border-radius: 20px;
  background-color:#003c82;
  color: #ffffff !important;
  transition: 0.3s;
}
.tres:hover {
  border-radius: 20px;
  background-color:#003c82;
  color: #ffffff !important;
  transition: 0.3s;
}
.cuatro:hover {
  border-radius: 20px;
  background-color:#003c82;
  color: #ffffff !important;
  transition: 0.3s;
}

  section#trip_container {
    margin-top: 130px;
    width: 100vw;
    height: 998px;
    background-color: rgb(255, 255, 255);
    display: block;
    overflow-x: auto;
    scrollbar-width: initial;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .container_cards {
    margin-left: 0px;
    margin-top: 5px;
    position: absolute;
    width: 100%;
    height: 660px;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    overflow-y: hidden;
  }
  #trip {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 393px;
    height: 330px;
    white-space: normal;
    position: relative;
    border-radius: 20px;
    text-align: center;
  }
  #trip > h2 {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    font-size: 37px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    overflow-wrap: break-word;
    word-break: break-word;
    left: 35px;
    margin-left: 15px;
  }
  #trip > p {
    margin-left: 5px;
    margin-top: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    width: 333px;
    height: 129px;
    top: 122px;
    left: 30px;
  }

  .card {
    margin-left: 20px;
    display: inline-block;
    width: 327px;
    height: 659px;
    position: relative;
    border-radius: 20px;
    background-color: #ffffff00;
    border: 0px solid rgb(255, 255, 255);
  }
  .card .centrado2 img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 20px;
  }


  .contendedor_menu {
    width: 48px;
    height: 48px;
    display: flex;
  }
  .turistoe {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  header.header h1 {
    margin-top: 150px;
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    
  }

  .nav {
    margin-top: 40px;
    width: 80vw;
    height: 43px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about_container {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .about {
    height: 50%;
    width: 80%;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about_container .about h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .about_container .about p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin-top: 60px;
  }
  .about_container .about h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .spaciado {
    margin-left: 35%;
  }
  .component2 {
    margin-top: 190px;
    height: 398px;
    max-height: 353px;
    width: 80%;
    border: 1px solid rgba(0, 60, 130, 1);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: none;
    display: flex;
    background-color: rgba(0, 61, 130, 0);
  }

  .component2:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.6s;
  border: none;
}
  .buttom {
    margin-top: 65px;
    position: absolute;
    width: 188px;
    height: 54px;
    text-align: center;
    border-radius: 25px;
    border-width: 1px;
    padding: 0;
    border: 1px solid rgba(0, 60, 130, 1);
    display: flex;
    justify-content: center;
    margin-top: 400px;
  }
  .buttom a {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: none;
    text-align: center;
    text-decoration: none;
    background-color: none;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
    border-width: 0;
    color: rgba(0, 60, 130, 1);
  }

  .travel_memories {
    margin-top: 85px;
    max-width:353px ;
    width: 100%;
    height: 878px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .travel_memories > h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .picture {
    width: 85%;
    height: 90%;
    display: block;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
  }
  .card-travelmemories {
    height: 327px;
    width: 100%;
    border:0px solid #fff;
    border-radius: 20px;
    position: relative;
    display: flex;
  }

  .card-travelmemories img {
    width: 95%;
    height: 95%;
    position: absolute;
    border-radius: 20px;
    object-fit: cover;
  }

  .card-travelmemories > h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38.73px;
    letter-spacing: 0%;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 35px;
  }
  .card-travelmemories ul {
    color: #fff;
    position: absolute;
    top: 245px;
    left: 35px;
    list-style-position: inside;
  }

  .container_travelmemories {
    width: 100%;
    display: block;
    flex-direction: column;
  }
  .card-travelmemories2 {
    margin-top: 30px;
    width: 100%;
    height: 327px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    color: #fff;
  }

  .card-travelmemories2 > h3 {
    position: absolute;
    font-weight: 500;
    font-size: 32px;
    line-height: 38.73px;
    letter-spacing: 0%;
    top: 200px;
    left: 35px;
    z-index: 1;
  }
  .card-travelmemories2 ul {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    list-style-position: inside;
    width: 171;
    height: 28;
    top: 245px;
    left: 35px;
  }

  .container_travelmemories2 {
    margin-top: 30px;
    width: 100%;
    height: 48%;
    display: block;
    justify-content: space-between;
  }

  .card-travelmemories3 {
    margin-top: 30px;
    width: 100%;
    height: 327px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    color: #fff;
  }
  .card-travelmemories3 > h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38.73px;
    letter-spacing: 0%;
    top: 200px;
    left: 35px;
    position: absolute;
    z-index: 1;
  }
  .card-travelmemories3 ul {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    top: 240px;
    left: 35px;
    list-style-position: inside;
  }
  .Reviews {
    margin-top: 800px;
    width: 100vw;
    height: 505px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0);
  }

  .Reviews > h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .ucp_2 {
    margin-top: 80px;
    width: 100%;
    height: 507px;
    background: linear-gradient(
      180deg,
      rgba(0, 60, 130, 0) 0%,
      rgba(0, 60, 130, 0.8) 100%
    );
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .centrado3 {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .centrado3 > h2 {
    margin-top: 40px;
    font-family: Inter;
    font-weight: 600;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    width: 392px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
  }
  .centrado3 > p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    width: 333px;
    height: 80px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .centrado3 a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  }
  .footer {
    width: 100vw;
    height: 938px !important;
    display: block;
    background: rgba(0, 60, 130, 1);
  }
    .footer_container {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 85%;
      height: 880px !important;
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    .turistoe2 {
      width: 100%;
      height: 270px;
      border: 1px solid #fff;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 80;
    }
    .turistoe3 {
    
      width: 80%;
      height: 174px;
      color: #fff;
      
    }
    
    .form {
      width: 100%;
      height: 260px;
      border: 1px solid #fff;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      margin-top: 30px;
    }

    .form2 {
      width: 90%;
      height: 181px;
    }

    .about2 {
      width: 48%;
      height: 270px;
      border-radius: 20px;
      border: 1px solid #fff;
      display: flex;
      justify-content: center;
      color: #fff;
      position: relative;
    }
    .about3 {
      text-align: justify;
      width: 100%;
      height: 270px;
      margin-left: 20px;
      position: absolute;
    }
    .footter {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
    .search-bar {
      width: 90%;
      height: 302px;
      border-radius: 25px;
      display: block !important;
      flex-wrap: wrap;
      flex-direction: row !important;
      background: white;
      padding: 10px;
      border-radius: 25px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
   
    .Copyright{
      font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
margin-top: 20px;
    }
    

.choose{
  margin-top: 100px;
  width: 353px;
height: 302px;
border-radius: 20px;
background-color: #fff;
display: block;
}
.box_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  border: 2px solid;
  border-radius: 20px 20px 0px 0px;
  border-color:#fff #fff #003c82 #fff ;
}
.box{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;


h2{
  font-family: Inter;
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: justify;
vertical-align: middle;
width: 83px;
height: 24px;


}
}
.box_container2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 109px;

}
.box2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


   
  a{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 310px;
    height: 54px;
    color: #003c82;
    border: 1px solid #003c82;
    border-radius: 20px;
    font-family: Inter;
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;


  }

}

.buttom_search:hover {
  color: #fff;
  background-color: #003c82;
}
/* Ocultar los div inicialmente */
.Location,
.Date,
.Guest {
  display: none;
  transition: all 0.3s ease;
}

/* Rotación con transición */
.icon-toggle i {
  transition: transform 0.3s ease;
}

/* Clase para rotar el ícono */
.icon-rotate {
  transform: rotate(180deg);
}
/* Hacer que cada div ocupe toda la pantalla */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* Cambia el color si lo deseas */
  z-index: 1000;
  display: block;
  
  
}

/* Ocultar todos los divs al inicio */
.hidden {
  display: none;
}

/* Estilos para la transición, si deseas efectos visuales suaves */
.Location, .Date, .Guest {
 
  transition: all 0.5s ease;
}
.Location,.Date,.Guest{
  margin-left: 0;
  margin-top: 0;
  position: fixed;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 57px;

  h2{
    font-family: Inter;
font-weight: 500;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

  }

  a{
    text-decoration: none;
    color: #000000;
  }
}

.locationdos{
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  p{
    font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
margin-top: 15px;
  }



}

.locationdos p:hover{
  color: #003c82;
  cursor: pointer;
  font-family: Inter;
font-weight: 400;

line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
}
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 57px;

  h2{
    font-family: Inter;
font-weight: 500;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

  }

  a{
    text-decoration: none;
    color: #000000;
  }

  
}
.calendar-container {
 margin-top: 50px;
  background: white;
  padding: 0;
  border-collapse: collapse;
  width: 90vw;
height: 20px;
padding: 20px;
margin-left: auto !important;
margin-right: auto !important;
  
}

.calendar-title {
display: flex;

justify-content: space-between;
align-items: center;
height: 19px;
width:100%;
margin-left: auto;
margin-right: auto;

h2{
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1%;
  vertical-align: middle;
  text-transform: uppercase;
  
color: #003c82;

}

}

.flechas{
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.fa-angle-left,.fa-angle-right{
  font-size: 25px;
  color: rgba(132, 138, 149, 1);
}
.fa-angle-right:hover{
  color: #000000;
  cursor: pointer;
}
.fa-angle-left:hover{
  color: #000000;
  cursor: pointer;
}



.calendar {
  display: block;
  width:100% !important;
  height: 349px;
  margin-top: 50px;
margin-left: auto !important;
margin-right: auto !important;
  

}




.calendar th {
font-weight: 500;
font-size: 10px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
padding-bottom: 15px;
color: rgba(126, 129, 140, 1);

}

.calendar td{

padding: 15px;
  text-align: center;
  border: 0px solid #ffffff;
  color: #003c82;
  cursor: pointer;

font-weight: 500;
font-size: 14px;
text-align: center;
text-transform: uppercase;

  
}



.calendar td:hover {
  color: #ffffff;
  border-radius: 100%;
  transition: 0.3s;
  background-color: #003c82;

}
.pintado{
  color: #ffffff !important;
  background-color: #003c82;
  border-radius: 50%;
}

.guest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 57px;

  h2{
    font-family: Inter;
font-weight: 500;
font-size: 24px;

text-align: center;
vertical-align: middle;

  }

  a{
    text-decoration: none;
    color: #000000;
  }


}
.guestt{
  margin-top: 60px;
}

.guestdos{
  margin-top: 30px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2{
    font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

  }
  p{
    margin-top: 5px;
    font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: rgba(153, 153, 153, 1);
;
  }
}
.guesttres{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70px;
height: 23px;


  p{
    margin-top: 0px;
    width: 27px;
height: 23px;
border-radius: 5px;
border: 1px solid #003c82;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
color: #000000;

  }

}

.icon-search{
  display: none;
}










































}

@media (min-Width:600px) and (max-width:850px)
{

}



































